@using System.Web.UI.HtmlControls
@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fill the following required fields:")
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Birthdate)
        @Html.TextBoxFor(c => c.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Birthdate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.MembershipTypeId)
        @Html.DropDownListFor(c => c.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.IsSubscribedToNewsletter)
        @Html.CheckBoxFor(c => c.IsSubscribedToNewsletter)
        @Html.ValidationMessageFor(c => c.IsSubscribedToNewsletter)
    </div>
    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}